WebApplication/Connected Services/ReferenciaServicioVacunas/ServicioVacunas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioCoronApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioCoronApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52831/ServicioVacunas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.EntidadesNegocio" />
  <xs:complexType name="ArrayOfDtoVacunas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoVacunas" nillable="true" type="tns:DtoVacunas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoVacunas" nillable="true" type="tns:ArrayOfDtoVacunas" />
  <xs:complexType name="DtoVacunas">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadDosis" type="xs:int" />
      <xs:element minOccurs="0" name="Covax" type="xs:boolean" />
      <xs:element minOccurs="0" name="EfectosAdversos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EficaciaCti" type="xs:int" />
      <xs:element minOccurs="0" name="EficaciaHosp" type="xs:int" />
      <xs:element minOccurs="0" name="EficaciaPrev" type="xs:int" />
      <xs:element minOccurs="0" name="Emergencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="FaseClinicaAprob" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LapsoDiasDosis" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.EntidadesNegocio" minOccurs="0" name="ListaLaboratorios" nillable="true" type="q1:ArrayOfLaboratorio" />
      <xs:element minOccurs="0" name="MaxEdad" type="xs:int" />
      <xs:element minOccurs="0" name="MaxTemp" type="xs:int" />
      <xs:element minOccurs="0" name="MinEdad" type="xs:int" />
      <xs:element minOccurs="0" name="MinTemp" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProduccionAnual" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.EntidadesNegocio" minOccurs="0" name="TipoVacuna" nillable="true" type="q2:TipoVacuna" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoVacunas" nillable="true" type="tns:DtoVacunas" />
</xs:schema>