WebApplication/Connected Services/ReferenciaServicioVacunas/ServicioVacunas3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.EntidadesNegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.EntidadesNegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLaboratorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Laboratorio" nillable="true" type="tns:Laboratorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaboratorio" nillable="true" type="tns:ArrayOfLaboratorio" />
  <xs:complexType name="Laboratorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Experiencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisOrigen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Laboratorio" nillable="true" type="tns:Laboratorio" />
</xs:schema>